.sqaure{
    width: 40px;
    height: 40px;
    background-color: #4e6bff;
    opacity: 0.7;
    position: absolute;
    top: 30px;
    left: -60px;
    animation: sqaure 12s linear alternate infinite;

    @keyframes sqaure {
        100%{
            transform: translate(100vw,70vh);
        }
    }
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F77457;
    opacity: 0.7;
    position: absolute;
    top: 40vh;
    left: 0px;
    animation: circle 15s linear alternate infinite;

    @keyframes circle {
        100%{
            transform: translate(100vw,-50vh);
        }
    }
}

.circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b7ff70;
    opacity: 0.7;
    position: absolute;
    bottom: 100px;
    right: 30px;
    animation: circlee 15s linear alternate infinite;

    @keyframes circlee {
        100%{
            transform: translate(-80vw,-70vh);
        }
    }
}