.app{
    height: 100vh;
    background-color: black;
    color: white;
    
    .section{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        max-width: 1400px;
        margin: auto;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            min-height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}